/* Join Page */
.join-container {
  font-family: 'Roboto', sans-serif;
  max-width: 500px;
  margin: 80px auto;
  color: rgb(255, 255, 255);
}

.join-header {
  text-align: center;
  padding: 20px;
  background: rgb(255, 213, 25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: rgb(255, 174, 0);
  border-radius: 0px 0px 5px 5px;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}
