.root {
  font-family: 'Roboto', sans-serif;

  #paintContainer {
    background-color: #ffef62;
  }

  #gameContainer {
    background-color: #fff6a1;
  }

  #chatContainer {
    background-color: #fff9c0;
  }
}
